a {
    all: unset;
}

button,
input,
select {
    all: unset;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
}

button {
    width: 130px;
    border: 2px solid var(--blue);
    text-align: center;
    font-size: 0.9em;
    color: var(--white);
    background-color: var(--blue);
}

h1 {
    font-size: 2.2em;
}

h2 {
    margin-top: 1em;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.6;
}

img.app-env {
    width: min(100%, 500px);
    animation: up-down 3.5s linear infinite;
}

@keyframes up-down {
    50% {
        transform: translateY(15px);
    }
}

img.crypto-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

nav.download-platforms {
    height: fit-content;
    display: grid;
    row-gap: 0.8em;
}

nav.download-platforms img {
    width: 170px;
}

span {
    font-size: 0.83em;
}

.intro-content {
    text-align: center;
}

.chains-coins {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    row-gap: 1em;
}

.chain-coin {
    padding: 0.4em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px var(--blue);
}

.additional-phrase {
    width: fit-content;
    margin: 2em auto 0;
    font-size: 0.9em;
    color: var(--dark-gray);
}