@media screen and (min-width: 576px) {
    html {
        font-size: 17px;
    }
    .main .assets .buttons {
        flex-direction: row;
    }
    .main .assets .add-token-btn {
        margin: 0 0 0 0.7em;
    }
    .main .assets .chains-coins {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3em;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
    .header .download-platforms {
        grid-auto-flow: column;
        column-gap: 18px;
    }
    .main .assets .chains-coins {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 19px;
    }
    a,
    button {
        cursor: pointer;
        transition: 0.3s;
    }
    img.app-env {
        width: 450px;
    }
    .container header .header {
        grid-template-areas:
            "ln tn tn"
            "ic ic ae"
            "dp dp ae"
        ;
        gap: 120px 75px;
    }
    .header img.logo-name {
        grid-area: ln;
    }
    .header .top-navbar {
        grid-area: tn;
        width: 100%;
        grid-template-columns: repeat(5, 18.5%);
        grid-auto-flow: column;
        align-content: center;
        column-gap: 10px;
    }
    .header .top-navbar .nav-link {
        padding: 18px 6px;
        font-size: 15px;
        box-shadow: none;
    }
    .header .top-navbar .nav-link:hover {
        color: var(--black);
        background-color: var(--white);
    }
    .header .intro-content {
        grid-area: ic;
        justify-self: left;
        width: 78%;
        text-align: left;
    }
    .header .download-platforms {
        grid-area: dp;
        justify-self: left;
        margin-top: -150px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
    }
    .header img.app-env {
        grid-area: ae;
        margin-top: -25px;
        margin-left: -80px;
    }
    .main .features .intro-content {
        max-width: fit-content;
    }
    .main .features .features-info {
        width: fit-content;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 28px;
    }
    .main .assets {
        grid-template-columns: 60% 37%;
        column-gap: 30px;
    }
    .main .assets .intro-content {
        justify-self: left;
        align-self: center;
    }
    .main .assets .intro-content:nth-child(3) {
        max-width: fit-content;
        text-align: left;
    }
    .main .assets .buttons {
        align-self: center;
    }
    .main .assets .add-token-btn:hover {
        color: var(--white);
        background-color: var(--blue);
    }
    .main .assets .chains-coins {
        grid-column: span 2;
        grid-template-columns: repeat(4, 1fr);
    }
    .assets .additional-phrase {
        grid-column: span 2;
    }
}