@media screen and (min-width: 576px) {
    html {
        font-size: 17px;
    }
    nav.download-platforms {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
    }
    .chains-coins {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2em;
    }
    .main .assets .buttons {
        flex-direction: row;
    }
    .main .assets button.add-token {
        margin-top: 0;
        margin-left: 0.7em;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
    nav.download-platforms,
    .container footer .footer {
        grid-auto-flow: column;
    }
    .chains-coins {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer nav.footer-nav {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 19px;
    }
    a,
    button,
    i {
        cursor: pointer;
        transition: 0.3s;
    }
    select {
        cursor: pointer;
    }
    img.app-env {
        width: 450px;
    }
    .supported-chains {
        grid-column: span 2;
    }
    .chains-coins {
        grid-template-columns: repeat(4, 1fr);
    }
    .container header .header {
        grid-template-areas:
            "ln tn tn"
            "ic ic ae"
            "dp dp ae"
        ;
        gap: 120px 75px;
    }
    .header img.logo-name {
        grid-area: ln;
        width: 250px;
    }
    .header nav.header-nav {
        grid-area: tn;
        width: 100%;
        grid-template-columns: repeat(5, 18.5%);
        grid-auto-flow: column;
        align-content: center;
        column-gap: 10px;
    }
    .header nav.header-nav a {
        padding: 18px 6px;
        font-size: 15px;
        color: var(--white);
        background-color: var(--blue);
    }
    .header nav.header-nav a:hover {
        color: var(--black);
        background-color: var(--white);
    }
    .header .intro-content {
        grid-area: ic;
        justify-self: left;
        width: 78%;
        text-align: left;
    }
    .header nav.download-platforms,
    .main .features .features-info,
    .main .staking,
    .main .dapp-browser,
    .main .get-trust-wallet {
        grid-template-columns: repeat(2, 1fr);
    }
    .header nav.download-platforms {
        grid-area: dp;
        justify-self: left;
        margin-top: -150px;
        grid-auto-flow: row;
    }
    .header img.app-env {
        grid-area: ae;
        margin-top: -25px;
        margin-left: -80px;
    }
    .main .features .features-sec {
        width: fit-content;
    }
    .main .features .features-info {
        column-gap: 28px;
    }
    .main .assets {
        grid-template-columns: 60% 37%;
        column-gap: 30px;
    }
    .main .assets button.add-token:hover {
        color: var(--white);
        background-color: var(--blue);
    }
    .main .dapp-browser .intro-content {
        order: 1;
    }
    .main .get-started .steps {
        grid-auto-flow: column;
        column-gap: 130px;
    }
    .main .get-trust-wallet {
        column-gap: 30px;
    }
    .main .intro-content,
    .main .assets .buttons,
    .main .get-trust-wallet nav.download-platforms {
        align-self: center;
    }
    .main .assets .intro-content:nth-child(3),
    .main .get-trust-wallet .intro-content {
        text-align: left;
    }
    .footer nav.social-media i.fa-github:hover {
        color: var(--black);
    }
    .footer nav.social-media i.fa-twitter:hover {
        color: rgb(23, 156, 240);
    }
    .footer nav.social-media i.fa-discord:hover {
        color: rgba(88, 101, 242);
    }
    .footer nav.social-media i.fa-telegram:hover {
        color: rgba(44, 165, 224);
    }
    .footer nav.footer-nav a:hover {
        text-decoration: underline;
    }
}