* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: IBM Plex Sans, sans-serif;
}

html {
    font-size: 16px;
    --black: black;
    --white: white;
    --dark-gray: rgb(100, 100, 100);
    --blue: rgb(11, 101, 198);
}

.container {
    display: grid;
    row-gap: 4em;
}

.container > * > * {
    max-width: 1100px;
    padding: 1.5em;
    margin: 0 auto;
    display: grid;
}

.container header {
    color: var(--white);
    background-color: var(--blue);
}

.container header .header {
    justify-items: center;
    row-gap: 4em;
}

.header img.logo-name {
    width: 90vw;
    height: 70px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 0 30px var(--white);
}

.header .top-navbar {
    width: min(70%, 400px);
    display: grid;
    row-gap: 1em;
}

.header .top-navbar .nav-link {
    color: var(--black);
    background-color: var(--white);
}

.header .download-platforms {
    height: fit-content;
    display: grid;
    row-gap: 0.8em;
}

.header .download-platforms a {
    padding: 0;
}

.header .download-platforms img {
    width: 170px;
}

.header img.app-env {
    margin-bottom: 3em;
}

.container main .main {
    row-gap: 7em;
}

main .main > * {
    display: grid;
    justify-items: center;
}

main .main > :not(.features) {
    row-gap: 3em;
}

.main .features {
    row-gap: 2.5em;
}

.main .features .features-sec {
    width: min(90%, 600px);
}

.main .features-sec .features-info {
    display: grid;
    row-gap: 1.5em;
}

.main .features-info .feature {
    padding: 1em;
    border-left: 7px solid var(--blue);
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px var(--blue);
}

.main .feature .fa-circle-check {
    margin-right: 10px;
    font-size: 17px;
    color: var(--blue);
}

.main .assets .buttons {
    display: flex;
    flex-direction: column;
}

.main .assets .add-token-btn {
    margin-top: 0.7em;
    color: var(--blue);
    background-color: var(--white);
}

.main .staking .staking-calculator {
    padding: 2em;
    border-radius: 5px;
    display: grid;
    row-gap: 2em;
    font-size: 0.85em;
    box-shadow: 0 0 10px var(--dark-gray);
}

.main .staking-calculator .inputs {
    display: flex;
    flex-direction: column;
}

.main .inputs > * {
    border: 1px solid var(--dark-gray);
    margin-bottom: 0.7em;
    font-weight: normal;
}

.main .inputs > :focus {
    border: 1px solid var(--blue);
    box-shadow: 0 0 5px var(--blue);
}

.main .staking-calculator .earnings {
    display: grid;
    row-gap: 0.7em;
}

.main .earnings > * {
    display: flex;
    justify-content: space-between;
}

.main .earnings .coin-amount {
    font-weight: bold;
    color: var(--blue);
}

.main .staking-calculator .earn-now-btn {
    justify-self: center;
    width: 90%;
    font-size: 1em;
}

.main .supported-chains h2 {
    margin-bottom: 2em;
    text-align: center;
}

.main .supported-chains .chains-coins {
    width: fit-content;
    margin: 0 auto;
}